* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --main-bg-color: #f9f6f3;
    --primary-text-color: #585858;
    --secondary-text-color: white;
}

body {
    background: var(--main-bg-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    padding-left: 1rem;
}

.header a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header .app-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
}

.header .search {
    position: relative;
    height: 60%;
    width: 40%;
}

.header .search input {
    position: absolute;
    top: 5%;
    left: 10%;
    height: 90%;
    width: 70%;
    padding: 0 0.9rem 0 1.8rem;
    border: none;
    border-radius: 20px;
    outline: none;
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    transition: .3s;
}

.header .search input:focus {
    box-shadow: none;
    background: white;
}

.header .search i {
    position: absolute;
    top: 27%;
    left: 12%;
    color: var(--primary-text-color);
}

nav {
    margin-right: 3rem;
}

nav a {
    padding: 0.7rem;
    font-size: 1.1rem;
    border-radius: 12px;
    transition: .3s;
}

nav a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: #ecebeb;
}

nav a i {
    margin-right: 0.3rem;
    font-size: 0.9rem;
}

.container {
    display: flex;
    position: relative;
    top: 56px;
    left: 0;
    height: 100vh;
}

.sidebar {
    padding: 0.8rem 0.5rem 0;
    max-height: 86%;
    min-width: 32vw;
    transition: .5s;
    overflow-y: scroll;
}

.sidebar .sidebar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    height: 3rem;
    padding: 0 1rem;
    transition: .3s;
}

.sidebar .sidebar-items:hover {
    background: #ecebeb;
    border-radius: 10px;
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-items.active {
    background: #ecebeb;
    border-radius: 10px;
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-items > div a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.sidebar .sidebar-items .memo-title {
    padding-left: 0.4rem;
    font-size: 1rem;
    width: 60%;
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar .sidebar-items .memo-title p {
    text-overflow: ellipsis;
}

.sidebar .sidebar-items .memo-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.4rem;
    height: 80%;
}

.sidebar .sidebar-items .memo-action .detail-memo {
    margin-right: 0.4rem;
    padding: 0rem 0.4rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    cursor: pointer;
    transition: .3s;
}

.sidebar .sidebar-items .memo-action .detail-memo:hover {
    background: #f3f3f3;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-items .memo-action .edit-memo {
    margin-right: 0.4rem;
    padding: 0rem 0.4rem;
    background: #f8fff3;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    transition: .3s;
}

.sidebar .sidebar-items .memo-action .edit-memo:hover {
    background: #e4fcd0;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-items .memo-action .delete-memo {
    padding: 0rem 0.4rem;
    background: #fdf3f0;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    transition: .3s;
}

.sidebar .sidebar-items .memo-action .delete-memo:hover {
    background: #f7e3e1;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.container .detail {
    color: var(--primary-text-color);
    margin: 0.5rem 1rem 0.5rem;
    padding: 1rem 1rem;
    height: 79%;
    min-width: 48vw;
    background: white;
    border: solid 1px #e1dfdf;
    border-radius: 10px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.container .hidden {
    font-size: 0;
    visibility: hidden;
}

.container .detail .title p {
    outline: none;
    border: none;
    padding: 0.3rem 0;
    width: 98%;
    border-bottom: solid 1.5px #e1dfdf;
    color: var(--primary-text-color);
    font-size: 1rem;
    font-weight: 800;
    overflow-x: scroll;
}

.container .detail .content {
    margin-top: 1rem;
    padding-right: 0.7rem;
    height: 78%;
    width: 97%;
    font-size: 1rem;
    color: var(--primary-text-color);
    border: solid 0.5px #e1dfdf;
}

.container .detail .content textarea {
    outline: none;
    border: none;
    resize: none;
    height: 100%;
    width: 100%;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    color: var(--primary-text-color);
    overflow-y: scroll;
}

.container .detail .content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5vh;
    font-size: 0.7rem;
    margin: 0.8rem 0.5rem 0;
}

.container .detail .content-bottom a {
    text-decoration: none;
    color: var(--primary-text-color);
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-size: 0.1rem;
    background: #ededed;
    transition: .3s;
}

.container .detail .content-bottom a:hover {
    background: #d4d4d4;

}

.container .detail .content-bottom .time {
    display: inline-flex;
}

.container .detail .time .created-at {
    margin-right: 1rem;
}