* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

:root {
    --main-bg-color: #f9f6f3;
    --primary-text-color: #585858;
    --secondary-text-color: white;
}

body {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;
    width: 100%;
    padding-left: 1rem;
    background: var(--main-bg-color);
}

.header a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.header .app-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-left: 1rem;
}

nav {
    margin-right: 3rem;
}

nav a {
    padding: 0.7rem;
    font-size: 1.1rem;
    border-radius: 12px;
    transition: .3s;
}

nav a:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: #ecebeb;
}

nav a i {
    margin-right: 0.3rem;
    font-size: 0.9rem;
}

nav a:nth-child(1) {
    color: #b0b0b0;
    transition: .3s;
}

nav a:nth-child(1):hover {
    color: var(--primary-text-color);
}

.confirm {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
}

.confirm-modal {
    position: absolute;
    top: 35%;
    left: 35%;
    height: 30%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: #faf9f9;
    border: solid 1px var(--primary-text-color);
    border-radius: 4px;
}

.confirm-modal .confirm-title {
    width: 100%;
    text-align: right;
    padding-right: 0.8rem;
}

.confirm-modal .confirm-title a {
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
    transition: .3s;
}

.confirm-modal .confirm-title a:hover {
    background: #ecebeb;
}

.confirm-modal .confirm-content {
    width: 100%;
    text-align: center;
    color: var(--primary-text-color);
}

.confirm-modal .delete-action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    padding-bottom: 0.9rem;
}

.confirm-modal .delete-action a:nth-child(1) {
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.35);
    background: #fedfdc;
    text-decoration: none;
    color: var(--primary-text-color);
    margin-right: 0.7rem;
    width: 25%;
    text-align: center;
    transition: .3s;
}

.confirm-modal .delete-action a:nth-child(1):hover {
    background: #febab4;
    box-shadow: none;
}

.confirm-modal .delete-action a:nth-child(2) {
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--primary-text-color);
    background: #ededed;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: .3s;
}

.confirm-modal .delete-action a:nth-child(2):hover {
    background: #d4d4d4;
    box-shadow: none;
}

.container {
    height: 85vh;
    width: 100%;
    margin-top: 3rem;
    padding: 2rem 0 0 2rem;
    background: var(--main-bg-color);
}

.container .garbage-list {
    max-height: 93%;
    width: 93%;
    border-radius: 3px;
    background: white;
    overflow-y: scroll;
}

.container .garbage-list .garbage-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3rem;
    padding: 0.7rem;
    border-radius: 3px;
    transition: .3s;
}

.container .garbage-list .garbage-item:hover {
    background: #ecebeb;
}

.container .garbage-list .garbage-item p {
    width: 75%;
    padding: 0 0.3rem;
    overflow-x: hidden;
}

.container .garbage-list .garbage-item a {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    font-size: 0.9rem;
    color: var(--primary-text-color);
    text-decoration: none;
    border: solid 1px #e1dfdf;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.container .garbage-list .garbage-item .cancel:hover {
    background: #f3f3f3;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.container .garbage-list .garbage-item .remove {
    cursor: pointer;
    background: #fdf3f0;
}

.container .garbage-list .garbage-item .remove:hover {
    background: #f7e3e1;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}