<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/css/style-main.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

  <header class="header">
    <a class="app-title" th:href="@{/memo/home}">メモ一覧</a>
    <div class="search">
      <form th:action="@{/memo/home}">
        <input type="text" placeholder="メモを検索">
        <i class='bx bx-search'></i>
      </form>
    </div>
    <nav>
      <a th:href="@{/memo/create}"><i class='bx bx-edit'></i>new</a>
      <a th:href="@{/memo/garbage}"><i class='bx bxs-box'></i>ゴミ箱</a>
    </nav>
  </header>

  <div class="container">

    <!-- サイドバー -->
    <div class="sidebar">
      <div class="sidebar-items" th:each="memo : ${memoList}" th:object="${memo}">
        <div class="memo-title">
          <p th:text="*{title}"></p>
        </div>
        <div class="memo-action">
          <a class="detail-memo" th:href="@{/memo/detail/{id}(id=${memo.id})}"><i class="bi bi-book"></i></a>
          <a class="edit-memo" th:href="@{/memo/edit/{id}(id=${memo.id})}"><i class="bi bi-pencil-fill"></i></a>
          <a class="delete-memo" th:href="@{/memo/delete/{id}(id=${memo.id})}"><i class="bi bi-trash"></i></a>
        </div>
      </div>
    </div>

    <!-- 詳細 -->
    <div class="detail" th:each="memo : ${memoDetail}">
      <div class="title">
        <p class="title-text" th:text="${memo.title}"></p>
      </div>
      <div class="content">
        <textarea name="content" readonly>[[${memo.content}]]</textarea>
      </div>
      <div class="content-bottom">
        <a th:href="@{/memo/home}">非表示</a>
        <div class="time">
          <p class="created-at">作成日：[[ ${memo.createdAt} ]]</p>
          <p>更新日：[[ ${memo.updatedAt} ]]</p>
        </div>
      </div>
    </div>

  </div>
  <script src="/js/main.js"></script>
</body>
</html>