<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>ゴミ箱</title>
  <link rel="stylesheet" href="/css/style-garbage.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body class="body">

  <header class="header">
    <a class="app-title" th:href="@{/memo/garbage}">ゴミ箱</a>
    <nav>
      <a class="empty" onclick="emptyModalOpen()">全て空にする</a>
      <a th:href="@{/memo/home}"><i class="bi bi-backspace-fill"></i>一覧へ</a>
    </nav>
  </header>

  <div class="container">
    <div class="garbage-list">
      <div class="garbage-item" th:each="memo : ${deletedMemoList}" th:object="${memo}">
        <p>[[${memo.title}]]</p>
        <div class="action">
          <a class="cancel" th:href="@{/memo/cancelDelete/{id}(id=${memo.id})}">元に戻す</a>
          <a class="remove" th:classappend="${memo.id}">完全に削除</a>
        </div>
      </div>
    </div>
  </div>

  <!-- 個別の完全削除モーダル -->
  <div class="remove-confirm">
    <div class="confirm-modal">
      <div class="confirm-title">
        <a onclick="rmModalClose()"><i class="bi bi-x"></i></a>
      </div>
      <div class="confirm-content">
        <p>本当に削除しますか？</p>
      </div>
      <div class="delete-action">
        <a>削除</a>
        <a onclick="rmModalClose()">キャンセル</a>
      </div>
    </div>
  </div>

  <!-- ゴミ箱を空にするモーダル -->
  <div class="empty-confirm">
    <div class="confirm-modal">
      <div class="confirm-title">
        <a onclick="emptyModalClose()"><i class="bi bi-x"></i></a>
      </div>
      <div class="confirm-content">
        <p>ゴミ箱を空にしますか？</p>
      </div>
      <div class="delete-action">
        <a>空にする</a>
        <a onclick="emptyModalClose()">キャンセル</a>
      </div>
    </div>
  </div>

  <script src="/js/main.js"></script>
</body>
</html>