<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <header class="header">
    <a class="app-title" th:href="@{/memo}">メモ</a>
    <nav>
      <a th:href="@{/memo/create}"><i class='bx bx-edit'></i>新規</a>
      <a th:href="@{/memo/garbage}"><i class='bx bxs-box'></i>ゴミ箱</a>
    </nav>
  </header>

  <div class="container">

    <!-- サイドバー -->
    <div class="sidebar">
      <div class="sidebar-items" th:each="memo : ${memoList}" th:object="${memo}">
        <div class="memo-title">
          <p th:text="*{title}"></p>
        </div>
        <div class="memo-action">
          <a class="detail-memo" th:href="@{/memo/detail/{id}(id=${memo.id})}">詳細</a>
          <a class="edit-memo" th:href="@{/memo/edit/{id}(id=${memo.id})}">編集</a>
          <a class="delete-memo" th:href="@{/memo/delete/{id}(id=${memo.id})}">削除</a>
        </div>
      </div>
    </div>

    <!-- 詳細 -->
    <div class="detail" th:each="memo : ${memoDetail}">
      <p class="hidden">[[ ${memo.id} ]]</p>
      <div class="title">
        <p class="title-text" th:text="${memo.title}"></p>
      </div>
      <div class="content">
        <p th:text="${memo.content}"></p>
      </div>
      <div class="content-bottom">
        <a th:href="@{/memo}">非表示</a>
        <div class="time">
          <p class="created-at">作成日：[[ ${memo.createdAt} ]]</p>
          <p>更新日：[[ ${memo.updatedAt} ]]</p>
        </div>
      </div>
    </div>

  </div>
  <script src="/js/main.js"></script>
</body>
</html>